bwm
utils/st/st
utils/st/config.bak.h
utils/slstatus/slstatus
obj/
*.tar.gz
*.o
utils/slstatus/*.o
utils/st/*.o
*.depend*
*.rej*
*.orig*
utils/st/*.rej*
utils/st/*.orig*
utils/slstatus/*.rej*
utils/slstatus/*.orig*
